@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");

body {
  font-family: "Afacad Flux", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 1rem;
  height: 100vh;
}

.admin-panel {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #090031f1;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  padding: 15px 15px;
  border-bottom: 3px solid #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  font-size: 18px;
}

.sidebar nav ul li:hover {
  background-color: #fff;
  color: #21053b;
}

.content {
  flex: 1;
  padding: 20px;
  font-size: 1rem;
}

h1 {
  margin-bottom: 20px;
}

.section-content {
  background-color: #21053b;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(29, 0, 46, 0.774);
  width: fit-content;
  font-size: 20px;
  color: #fff;
  height: fit-content;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 30rem;
  margin: 0 auto;
  background-color: #090031f1;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.main-content h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #fff;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.input-fields label {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 5px;
}

.input-fields input[type="text"], input[type="image"] {
  width: 20rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

.input-fields input[type="text"]:focus {
  outline: none;
  border-color: #ffffff;
  box-shadow: 0 0 5px rgba(255, 255, 255, 10);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form button {
  background-color: #020003;
  color: #fff;
  width: fit-content;
  border: 2px solid #fff;
  width: fit-content;
  padding: 10px 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

form button:hover{
  background-color: #fff;
  color: #020003;
  font-weight: 500;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-file-upload {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .file-label {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
  }
  
  .file-label:hover {
    background-color: #0056b3;
  }
  
  #file-upload {
    display: none;
  }
  
  #file-chosen {
    font-size: 14px;
    color: #fff;
  }
  
  .user-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }